In [1]:
import pandas as pd
import numpy as np
import os
from utils import (
    get_visitor_interests,
    get_exhibitor_category_info,
    calculate_match_score
)
from tqdm import tqdm

In [2]:
# Load processed data 
base_path = '../../source/'
visitors_df  = pd.read_csv(os.path.join(base_path, 'processed_visitors_answers.csv'))
exhibitors_df = pd.read_csv(os.path.join(base_path, 'processed_exhibitors_categories.csv'))
# Get original exhibitor names map
exhibitor_names = exhibitors_df[['exhibitorid', 'exhibitorName']].drop_duplicates().set_index('exhibitorid')['exhibitorName'].to_dict()

In [3]:
visitors_df

,visitor_id,visitor_email,visitor_gender,questionId,questionText,answerId,answerText,answerTypeId
0,67b70a9f2d21f543a1096602,emilija+100_L8gA@bss.mk,F,5c8a78336d41a10da4f730fe,Reason for Attending the Event,5c8a78336d41a10da4f73100,To obtain general information,Answer
1,67b70a9f2d21f543a1096602,emilija+100_L8gA@bss.mk,F,5c8a78336d41a10da4f73227,Which of the following best describes your job...,5c8a78336d41a10da4f73244,Media,Answer
2,67b70a9f2d21f543a1096602,emilija+100_L8gA@bss.mk,F,5c8a78336d41a10da4f73253,Please indicate your company's main area of bu...,5c8a78336d41a10da4f73291,Travel Agent,Answer
3,67b70a9f2d21f543a1096602,emilija+100_L8gA@bss.mk,F,5c8a78336d41a10da4f7336d,What role do you play in the purchasing decisi...,5c8a78336d41a10da4f73371,No influence,Answer
4,67ada1ee197e604dd2722d1b,aleksandar.dimkov+mitt1_n5eA@bss.com.mk,M,5c8a78336d41a10da4f730fe,Reason for Attending the Event,5c8a78336d41a10da4f730ff,To source products and services,Answer
...,...,...,...,...,...,...,...,...
356,uud1nluegdqmisnfzpg75iqg,daniela.p+200_IzcX_QOfF@bss.com.mk,M,5c8a78336d41a10da4f7336d,What role do you play in the purchasing decisi...,5c8a78336d41a10da4f73370,Advisory role,Answer
357,mv0j9yovwhgmtif9l1naciko,daniela.p+200_IzcX_CIHU@bss.com.mk,M,5c8a78336d41a10da4f730fe,Reason for Attending the Event,5c8a78336d41a10da4f73100,To obtain general information,Answer
358,mv0j9yovwhgmtif9l1naciko,daniela.p+200_IzcX_CIHU@bss.com.mk,M,5c8a78336d41a10da4f73227,Which of the following best describes your job...,5c8a78336d41a10da4f7323d,Guided tour services,Answer
359,mv0j9yovwhgmtif9l1naciko,daniela.p+200_IzcX_CIHU@bss.com.mk,M,5c8a78336d41a10da4f73253,Please indicate your company's main area of bu...,5c8a78336d41a10da4f73291,Travel Agent,Answer
360,mv0j9yovwhgmtif9l1naciko,daniela.p+200_IzcX_CIHU@bss.com.mk,M,5c8a78336d41a10da4f7336d,What role do you play in the purchasing decisi...,5c8a78336d41a10da4f73370,Advisory role,Answer

In [4]:
exhibitors_df

,exhibitorid,exhibitorName,categoryId,categoryName,parentCategory
0,90556,Turkey Travels,52276,1.5 Resort hotel,1. Accomodation providers
1,90556,Turkey Travels,52280,2.1 Inbound tour operator,2. Tour operators
2,90556,Turkey Travels,52281,2.2 Outbound tour operator,2. Tour operators
3,92462,Russian Travel Company,52273,1.2 Apartments / Residential hotel,1. Accomodation providers
4,92462,Russian Travel Company,52283,2.4 Mass market tour operators,2. Tour operators
...,...,...,...,...,...
178,17729,Sunny Travel Journeys,52282,2.3 Receptive / ground operator,2. Tour operators
179,17729,Sunny Travel Journeys,52272,1.1 Hotel / Hotel chain / Inn,1. Accomodation providers
180,17729,Sunny Travel Journeys,52329,10.5 Zoo,10. Museums & parks
181,17729,Sunny Travel Journeys,52366,"17.3 Banking, investments",17. Insurance companies & banking
182,17729,Sunny Travel Journeys,52297,5.5 Helicopter services,5. Transport services / air carriage

In [5]:
exhibitor_names

{90556: 'Turkey Travels',
 92462: 'Russian Travel Company',
 92491: 'Indian Travel Company',
 92492: 'Asia Tourism',
 92493: 'SriLanka Adventures',
 92494: 'Exotic Europe Travels',
 92495: 'Luxury Europe Company',
 92496: 'DreamTravel Company ',
 92497: 'Happy Company 2',
 68142: 'Global Tours Voyages',
 27827: 'Exotic Tours Holidays',
 74870: 'Exotic Tours Journeys',
 56923: 'Royal Tours Expeditions',
 80700: 'Exotic Holidays Services',
 46350: 'Prime Travel Journeys',
 55311: 'Sunny Adventures Journeys',
 31331: 'Exotic Adventures Journeys',
 97818: 'Sunny Trips Adventures',
 13033: 'Prime Vacations Expeditions',
 15881: 'Royal Trips Tours',
 10846: 'Royal Adventures Adventures',
 98889: 'Exotic Tours Tours',
 18004: 'Exotic Getaways Journeys',
 44942: 'Royal Holidays Adventures',
 48028: 'Prime Adventures Journeys',
 72153: 'Elite Adventures Holidays',
 32278: 'Exotic Holidays Holidays',
 51839: 'Dream Getaways Expeditions',
 30134: 'Global Holidays Expeditions',
 54579: 'Prime Vacations Voyages',
 21865: 'Dream Holidays Holidays',
 97920: 'Dream Tours Tours',
 18960: 'Elite Travel Services',
 15642: 'Dream Travel Services',
 17729: 'Sunny Travel Journeys'}

In [6]:
exhibitor_categories_map, exhibitor_category_counts = get_exhibitor_category_info(exhibitors_df)

In [7]:
exhibitor_categories_map

{10846: {'agencies',
  'agency',
  'distributor',
  'gastro',
  'gastro tourism',
  'helicopter',
  'helicopter services',
  'machinery',
  'manufacturer',
  'medical',
  'medical products machinery manufacturer distributor',
  'national',
  'national park',
  'park',
  'payment',
  'payment service provider',
  'product',
  'products',
  'provider',
  'service',
  'services',
  'tourism',
  'travel',
  'travel agencies'},
 13033: {'banking',
  'catering',
  'companies',
  'company',
  'equipment',
  'equipment restaurants catering',
  'hostel',
  'hostel motel',
  'insurance',
  'insurance companies banking',
  'motel',
  'radio',
  'radio tv',
  'restaurant',
  'restaurants',
  'tv'},
 15642: {'aggregator',
  'apartment',
  'apartments',
  'apartments residential hotel',
  'chain',
  'engine',
  'event',
  'event organizer',
  'glampings',
  'home',
  'homes',
  'hotel',
  'hotel hotel chain inn',
  'inn',
  'mobile',
  'mobile homes glampings',
  'organizer',
  'residential',
  'search',
  'search engine travel aggregator',
  'travel'},
 15881: {'airline',
  'airlines',
  'app',
  'board',
  'booking',
  'caravan',
  'caravans',
  'company',
  'government',
  'hostel',
  'hostel motel',
  'management',
  'management company',
  'mobile',
  'mobile app',
  'motel',
  'motorhomes',
  'motorhomes caravans',
  'nto',
  'online',
  'online booking system trip planner software',
  'payment',
  'payment service provider',
  'planner',
  'provider',
  'religious',
  'religious tourism',
  'service',
  'software',
  'system',
  'tourism',
  'tourist',
  'tourist board government nto',
  'trip'},
 17729: {'accomodation',
  'accomodation providers',
  'banking',
  'banking investments',
  'car',
  'car rental carsharing',
  'carsharing',
  'chain',
  'ground',
  'helicopter',
  'helicopter services',
  'hotel',
  'hotel hotel chain inn',
  'inn',
  'investment',
  'investments',
  'operator',
  'provider',
  'providers',
  'radio',
  'radio tv',
  'receptive',
  'receptive ground operator',
  'rental',
  'service',
  'services',
  'specialized',
  'specialized tour operator',
  'tour',
  'tv',
  'zoo'},
 18004: {'banking', 'banking investments', 'investment', 'investments'},
 18960: {'agencies',
  'agency',
  'cultural',
  'cultural heritage site',
  'distributor',
  'estate',
  'heritage',
  'machinery',
  'manufacturer',
  'media',
  'medical',
  'medical products machinery manufacturer distributor',
  'medium',
  'print',
  'print media',
  'product',
  'products',
  'real',
  'real estate agencies',
  'site'},
 21865: {'adventure',
  'adventure tourism',
  'agencies',
  'agency',
  'app',
  'franchise',
  'glampings',
  'global',
  'global healthcare providers',
  'healthcare',
  'home',
  'homes',
  'inbound',
  'inbound tour operator',
  'mice',
  'mice agency',
  'mobile',
  'mobile app',
  'mobile homes glampings',
  'mouse',
  'museum',
  'museums',
  'museums parks',
  'network',
  'network franchise travel agency',
  'operator',
  'park',
  'parks',
  'payment',
  'payment service provider',
  'provider',
  'providers',
  'service',
  'theme',
  'theme water park',
  'tour',
  'tourism',
  'travel',
  'travel agencies',
  'water'},
 27827: {'centre',
  'information',
  'specialized',
  'tic',
  'tic travel information centre',
  'tourism',
  'travel',
  'type',
  'type specialized tourism'},
 30134: {'analytics',
  'data',
  'data analytics personalization',
  'operator',
  'personalization',
  'specialized',
  'specialized tour operator',
  'tour'},
 31331: {'agency',
  'authorized',
  'authorized travel agency',
  'banking',
  'banking investments',
  'ground',
  'investment',
  'investments',
  'operator',
  'receptive',
  'receptive ground operator',
  'travel'},
 32278: {'agency',
  'authorized',
  'authorized travel agency',
  'company',
  'facilities',
  'facility',
  'insurance',
  'insurance company',
  'service',
  'services',
  'services facilities',
  'travel'},
 44942: {'agency',
  'complex',
  'medical',
  'national',
  'nto',
  'nto national tourism office',
  'office',
  'online',
  'online travel agency',
  'rest',
  'service',
  'services',
  'shortterm',
  'shortterm complex rest medical services',
  'tourism',
  'travel',
  'zoo'},
 46350: {'ar', 'vr', 'vr ar'},
 48028: {'app',
  'ar',
  'association',
  'consumables',
  'distributor',
  'event',
  'gastro',
  'gastro tourism',
  'health',
  'health medical tourism',
  'industry',
  'industry association',
  'management',
  'manufacturer',
  'manufacturer distributor consumables',
  'medical',
  'mice',
  'mice event management',
  'mobile',
  'mobile app',
  'mouse',
  'niche',
  'niche tourism',
  'park',
  'radio',
  'radio tv',
  'specialized',
  'theme',
  'theme water park',
  'tourism',
  'tv',
  'type',
  'type specialized tourism',
  'vr',
  'vr ar',
  'water'},
 51839: {'agencies',
  'agency',
  'clinic',
  'clinics',
  'equipment',
  'estate',
  'glamping',
  'hospital',
  'hospitals',
  'hospitals clinics',
  'hotel',
  'hotel equipment service suppliers',
  'mice',
  'mice agency',
  'motorhomes',
  'mouse',
  'museum',
  'real',
  'real estate agencies',
  'service',
  'supplier',
  'suppliers',
  'type',
  'type motorhomes glamping'},
 54579: {'company',
  'cruise',
  'cruise tour operators',
  'cultural',
  'cultural heritage site',
  'heritage',
  'insurance',
  'insurance company',
  'motorhomes',
  'national',
  'nto',
  'nto national tourism office',
  'office',
  'operator',
  'operators',
  'site',
  'tour',
  'tourism',
  'type',
  'type motorhomes'},
 55311: {'adventure',
  'adventure tourism',
  'aggregator',
  'association',
  'boarding',
  'boarding house',
  'caravan',
  'caravans',
  'company',
  'engine',
  'gastro',
  'gastro tourism',
  'glampings',
  'home',
  'homes',
  'house',
  'industry',
  'industry association',
  'media',
  'medium',
  'mobile',
  'mobile homes glampings',
  'motorhomes',
  'motorhomes caravans',
  'print',
  'print media',
  'railway',
  'railway company',
  'religious',
  'religious tourism',
  'search',
  'search engine travel aggregator',
  'solution',
  'solutions',
  'solutions travel industry',
  'tourism',
  'travel'},
 56923: {'analytics',
  'board',
  'data',
  'data analytics personalization',
  'government',
  'nto',
  'personalization',
  'tourist',
  'tourist board government nto'},
 68142: {'agencies',
  'agency',
  'business',
  'event',
  'hostel',
  'hostel motel',
  'management',
  'mice',
  'mice event management',
  'motel',
  'motorhomes',
  'mouse',
  'museum',
  'museums',
  'museums parks',
  'nature',
  'nature park',
  'office',
  'park',
  'parks',
  'payment',
  'payment service provider',
  'provider',
  'regional',
  'regional tourism office',
  'religious',
  'religious tourism',
  'service',
  'services',
  'services sphere business tourism',
  'sphere',
  'tourism',
  'travel',
  'travel agencies'},
 72153: {'accommodation',
  'agency',
  'booking',
  'bus',
  'bus services',
  'facility',
  'franchise',
  'hair',
  'hair transplantation',
  'helicopter',
  'helicopter services',
  'independent',
  'independent travel agency',
  'media',
  'medium',
  'national',
  'national park',
  'network',
  'network franchise travel agency',
  'nto',
  'nto national tourism office',
  'office',
  'online',
  'online booking system trip planner software',
  'online travel agency',
  'park',
  'planner',
  'print',
  'print media',
  'service',
  'services',
  'software',
  'system',
  'tourism',
  'transplantation',
  'travel',
  'trip',
  'type',
  'type accommodation facility',
  'youth',
  'youth travel'},
 74870: {'agency',
  'authorized',
  'authorized travel agency',
  'caravan',
  'caravans',
  'clinic',
  'clinics',
  'company',
  'equipment',
  'hospital',
  'hospitals',
  'hospitals clinics',
  'hotel',
  'hotel equipment service suppliers',
  'independent',
  'independent travel agency',
  'insurance',
  'insurance company',
  'media',
  'medium',
  'motorhomes',
  'motorhomes caravans',
  'museum',
  'print',
  'print media',
  'service',
  'supplier',
  'suppliers',
  'travel'},
 80700: {'gastro', 'gastro tourism', 'tourism'},
 90556: {'hotel',
  'inbound',
  'inbound tour operator',
  'operator',
  'outbound',
  'outbound tour operator',
  'resort',
  'resort hotel',
  'tour'},
 92462: {'agency',
  'aggregator',
  'apartment',
  'apartments',
  'apartments residential hotel',
  'engine',
  'facilities',
  'facility',
  'hotel',
  'independent',
  'independent travel agency',
  'market',
  'mass',
  'mass market tour operators',
  'operator',
  'operators',
  'residential',
  'search',
  'search engine travel aggregator',
  'service',
  'services',
  'services facilities',
  'tour',
  'transport',
  'transport services',
  'travel'},
 92491: {'apartment',
  'apartments',
  'apartments residential hotel',
  'hostel',
  'hostel motel',
  'hotel',
  'motel',
  'operator',
  'outbound',
  'outbound tour operator',
  'residential',
  'tour'},
 92492: {'chain',
  'hotel',
  'hotel hotel chain inn',
  'industrial',
  'industrial tourism',
  'inn',
  'media',
  'medium',
  'online',
  'online media',
  'resort',
  'resort hotel',
  'tourism'},
 92493: {'cultural',
  'cultural heritage site',
  'heritage',
  'industrial',
  'industrial tourism',
  'service',
  'services',
  'site',
  'tourism',
  'transfer',
  'transfer services'},
 92494: {'aggregator',
  'company',
  'engine',
  'hostel',
  'hostel motel',
  'inbound',
  'inbound tour operator',
  'management',
  'management company',
  'motel',
  'operator',
  'search',
  'search engine travel aggregator',
  'tour',
  'travel'},
 92495: {'boarding',
  'boarding house',
  'cleaning',
  'cruise',
  'cruise tour operators',
  'house',
  'national',
  'nto',
  'nto national tourism office',
  'office',
  'operator',
  'operators',
  'service',
  'services',
  'tour',
  'tourism',
  'transport',
  'transport services'},
 92496: {'company',
  'helicopter',
  'helicopter services',
  'management',
  'management company',
  'operator',
  'service',
  'services',
  'specialized',
  'specialized tour operator',
  'tour',
  'transport',
  'transport services'},
 92497: {'ar',
  'boarding',
  'boarding house',
  'campervans',
  'campervans caravans',
  'caravan',
  'caravans',
  'home',
  'hotel',
  'house',
  'resort',
  'resort hotel',
  'smart',
  'smart home technology',
  'technology',
  'vr',
  'vr ar'},
 97818: {'agency',
  'authorized',
  'authorized travel agency',
  'centre',
  'information',
  'tic',
  'tic travel information centre',
  'travel'},
 97920: {'abroad',
  'bus',
  'bus services',
  'estate',
  'gastro',
  'gastro tourism',
  'home',
  'homes',
  'industrial',
  'industrial tourism',
  'museum',
  'museums',
  'museums parks',
  'national',
  'nto',
  'nto national tourism office',
  'office',
  'park',
  'parks',
  'property',
  'real',
  'real estate property homes abroad',
  'service',
  'services',
  'smart',
  'smart home technology',
  'technology',
  'tourism',
  'zoo'},
 98889: {'abroad',
  'complex',
  'distributor',
  'estate',
  'home',
  'homes',
  'manufacturer',
  'market',
  'mass',
  'mass market tour operators',
  'medical',
  'operator',
  'operators',
  'property',
  'real',
  'real estate property homes russia',
  'rest',
  'russia',
  'security',
  'security system manufacturer distributor',
  'service',
  'services',
  'shortterm',
  'shortterm complex rest medical services',
  'study',
  'study abroad volunteering',
  'system',
  'tour',
  'volunteering'}}

In [8]:
# Recommendation parameters
PENALTY_ALPHA = 0.5 # Penalty strength (0=no penalty, higher=stronger)
PENALTY_THRESHOLD = 6 # Number of categories before penalty increases significantly

#Currently considering only these questions since these questions are relevant to exhibitors and their categories.
RELEVANT_QUESTIONS = [
    "Please indicate your company's main area of business",
    "Which of the following best describes your job function?"
]

def recommend_visitors(
    exhibitor_id,
    processed_visitors_df,
    exhibitor_categories_map, 
    exhibitor_category_counts, 
    exhibitor_names_map, 
    penalty_alpha=PENALTY_ALPHA,
    penalty_threshold=PENALTY_THRESHOLD
):
    """
    Recommends top N visitors for a given exhibitor ID.

    Args:
        exhibitor_id (int): The ID of the exhibitor.
        processed_visitors_df (pd.DataFrame): DataFrame with processed visitor answers.
        exhibitor_categories_map (dict): Map of exhibitor IDs to their set of cleaned category names.
        exhibitor_category_counts (dict): Map of exhibitor IDs to their total unique category count.
        exhibitor_names_map (dict): Map of exhibitor IDs to their names.
        top_n (int): Number of recommendations to return.
        penalty_alpha (float): Penalty strength parameter.
        penalty_threshold (int): Threshold for penalty calculation.

    Returns:
        pd.DataFrame: Top N recommended visitors with scores and matching details.
                      Returns empty DataFrame if exhibitor not found or no matches.
    """
    # 1. Get target exhibitor's details
    exhibitor_cats_set = exhibitor_categories_map.get(exhibitor_id)
    total_categories = exhibitor_category_counts.get(exhibitor_id)
    exhibitor_name = exhibitor_names_map[exhibitor_id]

    print(f"\nTarget Exhibitor: {exhibitor_name} (ID: {exhibitor_id})")
    print(f"Categories: {exhibitor_cats_set}")
    print(f"Total Categories (for penalty): {total_categories}")

    scores = []
    unique_visitors = visitors_df['visitor_email'].unique()

    # 2. Iterate through all unique visitors
    print(f"\nCalculating scores against {len(unique_visitors)} unique visitors...")
    for visitor_email in tqdm(unique_visitors, desc="Matching Visitors"):
        # 3. Get visitor interests
        visitor_interests = get_visitor_interests(visitor_email, processed_visitors_df, RELEVANT_QUESTIONS)

        # 4. Calculate score using the target exhibitor's total category count for penalty
        score, num_matches, matched_categories = calculate_match_score(
            visitor_interests,
            exhibitor_cats_set,
            total_categories, # Use the target exhibitor's category count [doesn't matter since the same exhibitor is used]
            penalty_alpha,
            penalty_threshold
        )

        # 5. Store results if score > 0
        if score > 0:
            scores.append({
                'visitor_email': visitor_email,
                'score': score,
                'numMatches': num_matches,
                'matchedCategories': ', '.join(sorted(list(matched_categories)))
            })

    # 6. Sort and return top N
    if not scores:
        print(f"No matching visitors found for exhibitor {exhibitor_name}.")
        return pd.DataFrame(columns=['visitor_email', 'score', 'numMatches', 'matchedCategories'])

    recommendations_df = pd.DataFrame(scores)
    recommendations_df = recommendations_df.sort_values(by='score', ascending=False)

    return recommendations_df

In [9]:
test_exhibitor_id = 92462 



recommendations = recommend_visitors(
    test_exhibitor_id,
    visitors_df,
    exhibitor_categories_map,
    exhibitor_category_counts,
    exhibitor_names
)

recommendations

Target Exhibitor: Russian Travel Company (ID: 92462)
Categories: {'facility', 'mass market tour operators', 'apartment', 'operators', 'engine', 'search', 'market', 'mass', 'independent travel agency', 'search engine travel aggregator', 'tour', 'service', 'apartments residential hotel', 'hotel', 'aggregator', 'agency', 'apartments', 'transport services', 'travel', 'operator', 'independent', 'services', 'transport', 'facilities', 'residential', 'services facilities'}
Total Categories (for penalty): 6

Calculating scores against 100 unique visitors...

Matching Visitors: 100%|██████████| 100/100 [00:00<00:00, 642.77it/s]

,visitor_email,score,numMatches,matchedCategories
10,daniela.p+200_IzcX@bss.com.mk,4.0,4,"service, services, tour, travel"
69,daniela.p+200_IzcX_vB6s@bss.com.mk,4.0,4,"service, services, tour, travel"
25,daniela.p+200_IzcX_pGIR@bss.com.mk,4.0,4,"service, services, tour, travel"
24,daniela.p+200_IzcX_T1OA@bss.com.mk,4.0,4,"service, services, tour, travel"
74,daniela.p+200_IzcX_QOfF@bss.com.mk,4.0,4,"service, services, tour, travel"
...,...,...,...,...
68,emilija+3_CmwU_tbhk@bss.com.mk,1.0,1,travel
71,emilija+101_jj3C_mXlu@bss.com.mk,1.0,1,travel
70,tanja+182_Ahsx_Lcd6@bss.mk,1.0,1,travel
73,emilija+2_02Wi_UXK5@bss.com.mk,1.0,1,travel
72,daniela.p+150_YhiF_OH5e@bss.com.mk,1.0,1,travel

In [10]:
# Top 7 Recommendations
recommendations.head(7)

,visitor_email,score,numMatches,matchedCategories
10,daniela.p+200_IzcX@bss.com.mk,4.0,4,"service, services, tour, travel"
69,daniela.p+200_IzcX_vB6s@bss.com.mk,4.0,4,"service, services, tour, travel"
25,daniela.p+200_IzcX_pGIR@bss.com.mk,4.0,4,"service, services, tour, travel"
24,daniela.p+200_IzcX_T1OA@bss.com.mk,4.0,4,"service, services, tour, travel"
74,daniela.p+200_IzcX_QOfF@bss.com.mk,4.0,4,"service, services, tour, travel"
75,daniela.p+200_IzcX_CIHU@bss.com.mk,4.0,4,"service, services, tour, travel"
21,aleksandar.dimkov+mitt10_V0iB_UmV3@bss.com.mk,2.0,2,"operator, tour"

In [11]:
test_exhibitor_id = 68142 
recommendations = recommend_visitors(
    test_exhibitor_id,
    visitors_df,
    exhibitor_categories_map,
    exhibitor_category_counts,
    exhibitor_names
)

recommendations

Target Exhibitor: Global Tours Voyages (ID: 68142)
Categories: {'agencies', 'museums', 'hostel', 'hostel motel', 'travel agencies', 'event', 'provider', 'mouse', 'service', 'motorhomes', 'office', 'religious tourism', 'business', 'management', 'tourism', 'mice event management', 'regional tourism office', 'mice', 'agency', 'religious', 'nature park', 'regional', 'nature', 'travel', 'parks', 'payment', 'services', 'payment service provider', 'museum', 'park', 'motel', 'services sphere business tourism', 'sphere', 'museums parks'}
Total Categories (for penalty): 8

Calculating scores against 100 unique visitors...

Matching Visitors: 100%|██████████| 100/100 [00:00<00:00, 706.10it/s]

,visitor_email,score,numMatches,matchedCategories
66,daniela.p+200_IzcX_QOfF@bss.com.mk,1.5,3,"service, services, travel"
22,daniela.p+200_IzcX_pGIR@bss.com.mk,1.5,3,"service, services, travel"
21,daniela.p+200_IzcX_T1OA@bss.com.mk,1.5,3,"service, services, travel"
9,daniela.p+200_IzcX@bss.com.mk,1.5,3,"service, services, travel"
61,daniela.p+200_IzcX_vB6s@bss.com.mk,1.5,3,"service, services, travel"
...,...,...,...,...
60,emilija+3_CmwU_tbhk@bss.com.mk,0.5,1,travel
63,emilija+101_jj3C_mXlu@bss.com.mk,0.5,1,travel
62,tanja+182_Ahsx_Lcd6@bss.mk,0.5,1,travel
65,emilija+2_02Wi_UXK5@bss.com.mk,0.5,1,travel
64,daniela.p+150_YhiF_OH5e@bss.com.mk,0.5,1,travel